@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  margin: 10em 0;
  font-family: 'Roboto Slab', serif;
  background-color: #570a57;
}

.container {
  background-color: #9900f0;
  padding: 4em 4em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px;
}

.time {
  font-size: 2.5rem;
}

.date {
  text-align: center;
}

@media (max-width: 565px) {
  .container {
    padding: 2.5em 2.5em;
  }
  .time {
    font-size: 1.5rem;
    font-weight: 700;
  }
}
@media (max-width: 350px) {
  .container {
    padding: 1.7em 1.7em;
  }
  .time {
    font-size: 1rem;
    font-weight: 700;
  }
} ;
